body {
  margin: 0;
  font-family: "Helvetica", sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

P {
  font-size: "1.2em";
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
}

span {
  font-size: "1.2em";
}

/* header */
.header-row {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-links {
  letter-spacing: 1px;
}

.nav-link {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 1.2rem;
}

.github-icon {
  color: #24292e;
}

.linkedin-icon {
  color: #0a66c2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header a {
  font-weight: 500;
}

a:hover {
  color: #1fb6ff;
}

.submit-btn {
  color: #fff;
  background-color: #000;
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* hero section */
.hero-section {
  background-color: #fff;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-row {
  min-height: 90vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-col-left {
  text-align: left;
  padding: 0 20px;
}

.hero-title {
  font-family: "Helvetica", sans-serif;
  color: #fff;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.hero-subtitle {
  color: #fff;
  font-weight: 300;
}

.hero-button {
  font-size: 1.2em;
  background-color: #000;
  margin-top: 20px;
  color: #fff;
}

.hero-button:hover {
  border: none;
  background-color: #1fb6ff;
  border: 1px solid #1fb6ff;
}

.hero-col-right {
  text-align: center;
  padding: 20px;
}

.hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-pic {
  border-radius: 10px;
}

@media (min-width: 576px) {
  .hero-title {
    font-size: 4em;
  }

  .hero-subtitle {
    font-size: 2em;
  }

  .hero-button {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 5em;
  }

  .hero-subtitle {
    font-size: 2.5em;
  }

  .hero-button {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 8em;
  }

  .hero-subtitle {
    font-size: 2.5em;
  }

  .hero-button {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .hero-section {
    height: auto;
    padding: 20px 0;
  }

  .hero-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-col-left,
  .hero-col-right {
    padding: 0;
  }

  .hero-title {
    font-size: 2.5em;
  }

  .hero-subtitle {
    font-size: 1.2em;
  }

  .hero-button {
    margin-top: 20px;
  }
}

/* about section */
.about-section {
  padding: 0px 60px 0px 0px;
}

.about-col {
  text-align: left;
}

.about-title {
  font-weight: 500;
  margin-bottom: 20px;
}

.education-col {
  padding: 0 30px;
}

.education-title {
  text-align: left;
  font-weight: 500;
  margin-bottom: 20px;
}

.education-divider {
  border: 0.5px solid #e5e5e5;
  width: 100%;
}

.education-institution {
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
}

.education-detail {
  text-align: center;
  margin: 10px 0;
}

.about-section {
  height: 100%;
  display: flex;
  background-color: #f9fafc;
  padding: 60px 0;
  align-items: center;
}

.about-col {
  height: 100%;
}

.hero-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.education-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 60px 0px 0px;
}

.about-description {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 60px;
}

.education-title {
  margin-top: 2%;
}

.education-institution {
  font-size: 1.5em;
}

.education-degree {
  font-size: 1.2em;
}

.skills-title {
  margin-top: 40px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.skill-logo {
  margin: 10px;
}

/* work section */
.work-section {
  background-color: #fff;
}

.project-col {
  display: flex;
  align-items: center;
}

.row-normal {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.project-image-wrapper {
  padding: 30px;
}

.project-image {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.project-description-wrapper {
  text-align: left;
  padding: 60px;
}

.project-button {
  margin-top: 20px;
  color: #fff;
  background-color: #000;
}

.project-tag {
  margin-right: 10px;
  margin-top: 10px;
}

/* contact form */
.contact-form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}

.contact-form-title {
  margin-bottom: 2em;
}

.textarea-message {
  height: 100%;
}

.submit-btn {
  background-color: #000;
  color: #fff;
}

/* Footer */
.footer {
  background: #f9fafc;
  color: #000;
  width: 100%;
  padding: 60px 0px 20px 0px;
}

.footer-row {
  padding: 24px 0;
}

.footer-col {
  text-align: center;
  margin-bottom: 16px;
}

.footer-address,
.footer-contact,
.footer-social {
  text-align: center;
}

.footer-bold {
  font-weight: bold;
}

.footer-contact a {
  color: inherit;
  text-decoration: none;
}

.footer-email {
  margin-top: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-social-link {
  color: #000;
  margin-right: 30px;
  text-decoration: none;
}

.footer-icon {
  font-size: 24px;
}

.github-icon {
  color: #000;
}

.linkedin-icon {
  color: #0077b5;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  color: #000;
}
